<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" >

	<test name="College">
	
	<groups>
        <run>
            <exclude name="login"></exclude>
        </run>
        </groups>
        <classes>
        <class name="TestngDay3.Program1"></class>
        <class name="TestngDay3.Program2"></class>
        <class name="TestngDay3.Program3"></class>
        
        
        
        
        </classes>
        
        
        
        
        
	</test>


   
    
</suite>
